.noImage {
  height: calc((2 * 100vh) / 3);
}

@media (max-width: 1145px) {
  .slider {
    width: 100% !important;
    display: flex;
    justify-content: center;
  }

  .info {
    width: 100% !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .info p {
    text-align: center;
  }
}
