.card-component {
  width: 400px;
  height: 132px;
}

.card-component img {
  width: 100px;
  height: 100px;
}

.card-component .no-image {
  min-width: 100px;
  max-width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-component .no-image img {
  width: 40px;
  height: 40px;
}

.card-component p {
  text-align: justify;
  height: 72px;
  overflow-y: auto;
}

@media (max-width: 435px) {
  .card-component {
    margin: 1px 0 1px 0;
    width: 100%;
    border-radius: 0;
  }
}
