.listCardComponent {
  display: flex;
  justify-content: center;
}

.list {
  width: 1728px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1727px) {
  .list {
    width: 1296px;
  }
}

@media (max-width: 1295px) {
  .list {
    width: 864px;
  }
}

@media (max-width: 863px) {
  .list {
    width: 432px;
  }
}
